    .navbar-container{
      display: flex;
      justify-content: space-around;
      position: sticky;
      top: 0px;
      z-index: +6;
      background-color: white;
      padding: 0px 50px;
    }
    
    .navbar-brand{
      width: 56%;
      display: flex;
    }
    .navbar-brand-logo:hover, .navbar-brand-text:hover{
      cursor: pointer;
    }
    
    .navbar-brand-logo{
      width: 32px;
      height: 32px;
      margin-top: 21px;
      margin-right: 8px;
    }
    
    .navbar-brand-text{
      font-family: 'PoetsenOne-Regular';
      font-size: 26px;
      color: #FAA500;
      height: min-content;
      line-height: 72px;
    }
    
    .navbar-cta{
      display: flex;
      justify-content: flex-end;
      width: 36%;
    }
    .navbar-cta-buttons-container{
      display: flex;
    }
    .navbar-cta-buttons, .navbar-cta-globe-button{
      font-size: 16px;
      padding: 5px;
      background-color: transparent;
      font-weight: 700;
      font-family: 'Montserrat-SemiBold';
      border: transparent;
      color: #252428;
      line-height: 20px;
      margin-right: 10px ;
    }
    
    .navbar-cta-buttons:hover{
      cursor: pointer;
    }
    
    .navbar-cta-globe-button:hover{
      cursor: pointer;
    }
    .navbar-cta-waitlist-button:hover{
      cursor: pointer;
    }
    /* .navbar-selected-language{
      display: none;
      color: transparent
    }
    
    .navbar-cta-globe-button{
      position: absolute;
      right: 14%;
    
      background-color: white;
    }
    .navbar-cta-globe-button:hover{
      border: 2px black solid ;
      border-radius: 10px;
      z-index: +6;
    
    }
    .navbar-cta-globe-button:hover .navbar-selected-language{
      display: block;
      font-family: 'Montserrat-SemiBold';
      border: transparent;
      color: #252428;
      position: relative;
      width: 130px;
    }
    .navbar-cta-globe-button:hover .selected-lang{
      color: #7a7a7a;
      margin: 5px 0px;
    }
    .language-dropdown:hover{
      text-decoration:underline;
      color: #FAA500;
    } */
    .waitlist-button{
      padding: 12px 12px;
      width: 134px;
      height: 43px;
    }
  .mobile-nav{
    display: none;
  }
  .mobile-waitlist-outiside-nav{
    display: block;
  }
  .mobile-waitlist-in-nav{
    display: none;
  }
@media screen and (max-width: 1350px) {
  .desktop-nav{
    display: none;
  }
  .mobile-nav{
    display: block;
    /* display: flex; */
    /* flex-direction: column; */
  }
  .navbar-container{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    z-index: +6;
    background-color: white;
    padding: 0px 5px;
  }
  .waitlist-button{
    padding: 12px 12px;
    width: 134px;
    height: 43px;
    margin-right: 25px;
  }

  .mobile-navbar-cta-buttons-container{
    position: absolute;
    display: none;
    flex-direction: column;
    width: 200px;
    background-color: white;
    right: 20px;
    top: 60px;
    border: solid 2px #FAA500;
  }
  /* #mobile-nav-container{
    display: none;
  } */
  .mobile-navbar-cta-buttons{
    font-size: 16px;
    padding: 5px;
    background-color: transparent;
    font-weight: 700;
    font-family: 'Montserrat-SemiBold';
    border: transparent;
    color: #252428;
    line-height: 20px;
    margin-right: 10px ;
    margin-top: 10px;
  }
  .mobile-waitlist-button{
    position: relative;
    left: 20px;
  }
  .mobile-menu-icon{
    position: relative;
    top: 20px;
  }

}
@media screen and (max-width: 900px) {
  .mobile-waitlist-outiside-nav{
    display: none;
  }
  .mobile-waitlist-in-nav{
    display: block;
  }
}

@media screen and (max-width: 280px) {
  .navbar-container{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    z-index: +6;
    background-color: white;
    padding: 0px 10px;
  }
  
}