.mouth-container{
  width: 100%;
  display: flex;
  margin-bottom: 100px ;
}

.mouth-content-container{
  width: 80%;
  position: relative;
  left: 10%;
  display: flex;
}
.mouth-phone-container{
  width: 33%;
}
.mouth-body-container{
  width: 66%;
  padding: 10% 0%;
}

.mouth-body-header{
  font-family: 'Montserrat-Bold';
  color: #252428;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}
.mouth-body-text{
  margin: 20px 0px;
  font-family: 'Quicksand-SemiBold';
  font-size: 20px;
  color: #252428;
  line-height: 36px;
}

@media screen and (max-width: 1340px) {
  .mouth-content-container{
    width: 100%;
    position: relative;
    left: 0%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .mouth-body-container{
    width: 80%;
    padding: 10% 0%;
  }
  
  
}

@media screen and (max-width: 890px) {
  .mouth-body-header{
    font-family: 'Montserrat-Bold';
    color: #252428;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
  }
  .mouth-body-text{
    margin: 20px 0px;
    font-family: 'Quicksand-SemiBold';
    font-size: 16px;
    color: #252428;
    line-height: 36px;
  }
}

@media screen and (max-width: 800px) {
  .mouth-body-header{
    font-family: 'Montserrat-Bold';
    color: #252428;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
  }
  .mouth-body-text{
    margin: 20px 0px;
    font-family: 'Quicksand-SemiBold';
    font-size: 16px;
    color: #252428;
    line-height: 36px;
  }
}

@media screen and (max-width: 710px) {
  .mouth-body-header{
    font-family: 'Montserrat-Bold';
    color: #252428;
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;
  }
  .mouth-body-text{
    margin: 20px 0px;
    font-family: 'Quicksand-SemiBold';
    font-size: 16px;
    color: #252428;
    line-height: 36px;
  }
  .mouth-phone-container{
    width: 80%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10%;
  }
}


@media screen and (max-width: 580px) {
  .mouth-body-header{
    font-family: 'Montserrat-Bold';
    color: #252428;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
  }
  .mouth-body-text{
    margin: 20px 0px;
    font-family: 'Quicksand-SemiBold';
    font-size: 20px;
    color: #252428;
    line-height: 36px;
  }
}


@media screen and (max-width: 365px) {
  .mouth-body-header{
    font-family: 'Montserrat-Bold';
    color: #252428;
    font-weight: 700;
    font-size: 26px;
    line-height: 48px;
  }
  .mouth-body-text{
    margin: 20px 0px;
    font-family: 'Quicksand-SemiBold';
    font-size: 18px;
    color: #252428;
    line-height: 36px;
  }
  .mouth-phone-container{
    width: 90%;
    display: flex;
    justify-content: center;
    position: relative;
    left: 5%;
  }
  .mouth-phone-svg{
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  .mouth-container{
    margin-top: 150px;
  }
  .mouth-body-header{
    font-family: 'Montserrat-Bold';
    color: #252428;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
  }
  .mouth-body-text{
    margin: 20px 0px;
    font-family: 'Quicksand-SemiBold';
    font-size: 16px;
    color: #252428;
    line-height: 36px;
  }
}