.team-container{
  width: 63%;
  position: relative;
  left: 16%;
  margin-top: 300px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-intro{
  font-family: 'Montserrat-Bold';
  font-size: 32px;
  line-height: 42px;
  color: #252428;
  margin-bottom: 20px;
}

.team-name{
  font-family: 'Montserrat-SemiBold';
  font-size: 24px;
  line-height: 28px;
  color: #252428;
}