.team-container{
  width: 63%;
  position: relative;
  left: 16%;
  margin-top: 300px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-intro{
  font-family: 'Montserrat-Bold';
  font-size: 32px;
  line-height: 42px;
  color: #252428;
  margin-bottom: 20px;
}

.team-name{
  font-family: 'Montserrat-SemiBold';
  font-size: 24px;
  line-height: 28px;
  color: #252428;
}

@media screen and (max-width: 900px) {
  .team-container{
    width: 80%;
    position: relative;
    left: 0%;
    padding: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .team-intro{
    font-family: 'Montserrat-Bold';
    font-size: 26px;
    line-height: 42px;
    color: #252428;
    margin-bottom: 20px;
  }
  
  .team-name{
    font-family: 'Montserrat-SemiBold';
    font-size: 20px;
    line-height: 28px;
    color: #252428;
  }
}

@media screen and (max-width: 575px) {
  .team-intro{
    font-family: 'Montserrat-Bold';
    font-size: 20px;
    line-height: 42px;
    color: #252428;
    margin-bottom: 20px;
  }
  
  .team-name{
    font-family: 'Montserrat-SemiBold';
    font-size: 16px;
    line-height: 28px;
    color: #252428;
  }
}

@media screen and (max-width: 400px) {
  .team-intro{
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    line-height: 42px;
    color: #252428;
    margin-bottom: 20px;
  }
  
  .team-name{
    font-family: 'Montserrat-SemiBold';
    font-size: 16px;
    line-height: 28px;
    color: #252428;
  }
}


@media screen and (max-width: 375px) {
  .team-intro{
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    line-height: 42px;
    color: #252428;
    margin-bottom: 20px;
  }
  
  .team-name{
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    line-height: 28px;
    color: #252428;
  }
}

@media screen and (max-width: 375px) {
  .team-intro{
    font-family: 'Montserrat-Bold';
    font-size: 14px;
    line-height: 28px;
    color: #252428;
    margin-bottom: 20px;
  }
  
  .team-name{
    font-family: 'Montserrat-SemiBold';
    font-size: 14px;
    line-height: 28px;
    color: #252428;
  }
}