.footer-container{
  width: 100%;
  background-color: #FAA500;
}

.footer-container-content{
  width: 95%;
  position: relative;
  left: 2.5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer-container-content-left{
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  /* align-items: left; */

}
  .footer-container-left-title{
    font-family: 'PoetsenOne-Regular';
    font-size: 32px;
    line-height: 72px;
    color: #ffff;
  }

  .footer-container-left-subtitle, 
  .footer-container-left-text{
    font-family: 'Quicksand-SemiBold';
    font-size: 16px;
    line-height: 28px;
    color: #ffff;
  }
  .footer-container-left-title, .footer-container-left-subtitle{
    margin-bottom: 20px;
  }

.footer-container-content-right{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: min-content;
}

.footer-right-icon-container{
  margin: 160px 0px;
}
.footer-right-icon:hover{
  cursor: pointer;
}


.footer-container-left-subtitle, 
.footer-container-left-text{
  font-family: 'Quicksand-SemiBold';
  font-size: 12px;
  line-height: 28px;
  color: #ffff;
}
.footer-text-container-bottom-solo{
  font-family: 'Quicksand-SemiBold';
  font-size: 12px;
  line-height: 28px;
  color: #ffff;
  display: flex;
  width: 100%;
  padding: 0px 0px 20px;
}
.footer-bottom-container-right{
  display: flex;
  justify-content: flex-end;
  width: 25%;

}
.footer-bottom-container-left{
  display: flex;
  justify-content: flex-start;
  width: 65%;
  padding: 0% 2.5%;
}
.footer-text-container-bottom-left{
  height: min-content;
}
.footer-text-container-bottom-right{
  height: min-content;
  display: flex;
  justify-content: flex-end;
}


@media screen and (max-width: 700px) {
  .footer-container-left-title{
    font-family: 'PoetsenOne-Regular';
    font-size: 24px;
    line-height: 72px;
    color: #ffff;
  }

  .footer-container-left-subtitle, 
  .footer-container-left-text{
    font-family: 'Quicksand-SemiBold';
    font-size: 12px;
    line-height: 28px;
    color: #ffff;
  }
}

@media screen and (max-width: 700px) {
  .footer-container-left-title{
    font-family: 'PoetsenOne-Regular';
    font-size: 24px;
    line-height: 72px;
    color: #ffff;
  }

  .footer-container-left-subtitle, 
  .footer-container-left-text{
    font-family: 'Quicksand-SemiBold';
    font-size: 12px;
    line-height: 28px;
    color: #ffff;
  }
}

@media screen and (max-width: 700px) {
  .footer-container-left-title{
    font-family: 'PoetsenOne-Regular';
    font-size: 24px;
    line-height: 72px;
    color: #ffff;
  }

  .footer-container-left-subtitle, 
  .footer-container-left-text{
    font-family: 'Quicksand-SemiBold';
    font-size: 12px;
    line-height: 28px;
    color: #ffff;
  }
}

@media screen and (max-width: 555px) {
  .footer-text-container-bottom-solo{
    font-family: 'Quicksand-SemiBold';
    font-size: 8px;
    line-height: 28px;
    color: #ffff;
    display: flex;
    width: 100%;
  }
}
