.section-1-container{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  padding: 128px 0px;

}
.section-1-text-container{
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  width: 42%;
  height: 356px;
}

.section-1-button-container{
  display: flex;
  /* width: 50%; */
  flex-direction: column;
  justify-content: center;
}

.section-1-signup-button{
  position: relative;
  left: 20%;
  width: 209px;
}
.section-1-signup-button:hover{
  cursor: pointer;
}
.section-1-thoughts-button{
  position: relative;
  margin: 20px 0px;
  left: 22.5%;
  font-size: 16px;
  font-family: 'Montserrat-Medium';
  color: black;
}

.section-1-text-header{
  font-family: 'Montserrat-SemiBold';
  font-size: 64px;
  line-height: 72px;
}
.section-1-text-body{
  font-family: 'Quicksand-SemiBold';
  margin: 30px 0px 30px;
  font-size: 20px;
  line-height: 36px;
}
.section-1-mascot-container{
  width: 22%;
  height: 300px;
  padding: 4% 0%;

}
.section-1-mascotSVG{


}

/* @media screen and (min-width: 1536px){
  .section-1-container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    padding: 136.27px 0px;
  }
  
  .section-1-text-container{
    display: flex;
    flex-direction: column;
    padding-left: 53.33px; 
    width: 42%;       
    height: 379.67px; 
    margin-right: 10px;
  }
  
  .section-1-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .section-1-signup-button{
    position: relative;
    left: 21.33%;   
    width: 222.93px; 
  }
  
  .section-1-thoughts-button{
    position: relative;
    margin: 21.33px 0px;
    left: 23.98%; 
    font-size: 17.07px; 
    font-family: 'Montserrat-Medium';
    color: black;
  }
  
  .section-1-text-header{
    font-family: 'Montserrat-SemiBold';
    font-size: 68.27px; 
  }
  
  .section-1-text-body{
    font-family: 'Quicksand-SemiBold';
    margin: 31.99px 0px 31.99px; 
    font-size: 21.33px; 
  }
  
  .section-1-mascot-container{
    width: 23.46%; 
    height: 319.67px; 
    padding: 4.27% 0%; 
  }
} */

@media screen and (min-width:1440px) {
  .section-1-container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    padding: 100px 0px 170px; 
    gap: 50px;
  }
  
  .section-1-text-container{
    display: flex;
    flex-direction: column;
    width: 600px; 
    height: 474.59px; 
  }
  
  .section-1-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .section-1-signup-button{
    position: relative;
    left: 26.66%; 
    width: 278.66px; 
  }
  
  .section-1-thoughts-button{
    position: relative;
    margin: 26.66px 0px; 
    left: 29.98%; 
    font-size: 21.34px; 
    font-family: 'Montserrat-Medium';
    color: black;
  }
  
  .section-1-text-header{
    font-family: 'Montserrat-SemiBold';
    font-size: 64px; 
  }
  
  .section-1-text-body{
    font-family: 'Quicksand-SemiBold';
    margin: 39.99px 0px 39.99px; 
    font-size: 20px; 
  }
  
  .section-1-mascot-container{
    padding: 0%;
    margin-top: 72px;
  }

  .section-1-mascotSVG{
    width: 415px;
    height: 400px;
  }
  
}


@media screen and (max-width:1250px) {
  .section-1-container{
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
  }

  .section-1-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%; 
    height: 500px; 
  }
  
  .section-1-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
 
  .section-1-thoughts-button{
    position: relative;
    margin: 20px 20px;
    left: 0%;
    font-size: 16px;
    font-family: 'Montserrat-Medium';
    color: black;
  }

  .section-1-signup-button{
    position: relative;
    left: 0%; 
    width: 209px; 
  }
  
  .section-1-text-header{
    font-family: 'Montserrat-SemiBold';
    font-size: 72px; 
  }
  
  .section-1-text-body{
    font-family: 'Quicksand-SemiBold';
    font-size: 20px;
    width: 80%;
  }

  
  .section-1-mascot-container{
    padding: 0%;
    margin-top: 72px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
  }

  .section-1-mascotSVG{
    width: 315px;
    height: 300px;
  }



}


@media screen and (max-width:785px) {
  .section-1-text-header{
    font-family: 'Montserrat-SemiBold';
    font-size: 56px; 
  }
  
}
@media screen and (max-width:610px) {
  .section-1-text-header{
    font-family: 'Montserrat-SemiBold';
    font-size: 48px; 
  }
  .section-1-container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    padding: 50px 0px 170px; 
    gap: 50px;
  }
}
@media screen and (max-width:525px) {
  .section-1-text-header{
    font-family: 'Montserrat-SemiBold';
    font-size: 42px; 
  }
  
}

@media screen and (max-width:460px) {
  .section-1-text-header{
    font-family: 'Montserrat-SemiBold';
    font-size: 36px; 
  }
  .section-1-mascot-container{
    padding: 0%;
    margin-top: 150px;
  }
  
}
@media screen and (max-width:395px) {
  .section-1-text-header{
    font-family: 'Montserrat-SemiBold';
    font-size: 28px; 
  }
  .section-1-text-body{
    font-family: 'Quicksand-SemiBold';
    margin: 30px 0px 30px;
    font-size: 16px;
    line-height: 36px;
  }
}

@media screen and (max-width:305px) {
  .section-1-text-header{
    font-family: 'Montserrat-SemiBold';
    font-size: 24px; 
  }
  .section-1-mascot-container{
    padding: 0%;
    margin-top: 200px;
  }
  .section-1-mascotSVG{
    width: 215px;
    height: 200px;
  }
}